.profileHeader {
    position: relative;
    border: none;
}

.profileHeader__overlay {
    width: auto;
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 150px;
}

.profileHeader__title {
    color: var(--light-green-color);
    font-weight: lighter;
    white-space: nowrap;
}

.profileHeader .profileHeader__buttons .customButton {
    width: 100px;
    margin: auto .5rem;
}

.coverImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
    opacity: .5;
}

.profileImage {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--white-color);
}

.profileUpload__wrapper {
    position: relative;
}

.profileUpload__btn {
    position: absolute;
}

.profileImage-wrapper .profileUpload__btn {
    bottom: 0;
    left: 10%;
}

.coverImage-wrapper .profileUpload__btn {
    bottom: 10%;
    right: 5%;
}

.profileMsg {
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    width: 80%;
}

.profile-rightComlun {
    min-height: 300px;
}

.profileSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.profile-leftComlun .field-wrapper {
    display: flex;
    flex-direction: column;
}

.profileTitle {
    margin-right: .6rem;
    margin-bottom: 0;
    width: auto;
}

.pageWrapper-profile .sectionHeader__title {
    margin-bottom: 0;
    margin-right: .5em;
}

.reviewCreate__header {
    display: flex;
}

.reviewCreate__header .dv-star-rating {
    width: 100%;
}

.profile__main .userAvatar, .reviewCreate__header {
    width: 100%;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .profileHeader__overlay {
        left: 0;
    }
}

@media (max-width: 768px) {
    .profileHeader__overlay {
        align-items: center;
        flex-direction: column;
        left: 0;
        top: 20px;
        height: 100%;
    }

    .coverImage {
        height: 200px;
    }

    .profileImage {
        width: 130px;
        height: 130px;
    }

    .profileHeader__title {
        /* margin-left: 130px; */
    }

    .profileHeader .profileHeader__buttons {
        margin-top: 1.5rem;
        justify-content: center;
    }
}

@media (max-width: 576px) {}
