.profile-page .sectionHeader__title {
    margin-bottom: 0;
    margin-right: .5em;
}

.profileHeader {
    position: relative;
    border: none;
    height: 400px;
}

.profileHeader__title {
    color: var(--light-green-color);
    font-size: 2rem;
    font-weight: lighter;
    white-space: nowrap;
}

.profileHeader .profileHeader__buttons .btn-click {
    width: 100px;
}

.coverImage {
    width: 100%;
    height: 300px;
    object-fit: cover;

    /* opacity: .5; */
}

.profileHeader__content {
    position: relative;
}

.profileHeader__rightCol {
    display: flex;
    margin-left: 330px;
}

.profileHeader__overlay {
    position: absolute;
    bottom: 0;
    left: 150px;
    width: 170px;
    height: 170px;
}

.profileUpload__box {
    position: absolute;
    top: 15%;
    left: 10%;
}

.profileImage {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--white-color);
}

/* .profileUpload__btn, .profileHeader__buttons {
    position: absolute;
} */

/* .profileImage-wrapper .profileUpload__btn {
    bottom: 0;
    left: 5%;
} */

.btn-coverImage, .profileHeader__buttons {
    top: 220px;
    right: 3%;
    z-index: 1000;
}

.profileIntro-box .listItem {
    margin: .5rem 0;
}

.profileIntro-country span::before {
    content: "lives in ";
}

.profileIntro-lang span::before {
    content: "speaks ";
}

.profile-rightCol .sectionHeader {
    padding: var(--padding-box);
}

.profile-rightComlun .boxWrapper {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profileTitle {
    margin-right: .6rem;
    margin-bottom: 0;
    width: auto;
}

.profileCreate-btn {
    align-self: flex-end;
    margin: auto 0;
}

.reviewCreate__header {
    display: flex;
}

.reviewCreate__header .dv-star-rating {
    width: 100%;
}

.profile__main .userAvatar, .reviewCreate__header {
    width: 100%;
    justify-content: space-between;
}

.profileChat .messages-section {
    padding: 0;
    align-items: flex-start;
}

.profileChat .messages__header {
    padding: .5em;
    align-items: flex-start;
}

.profileChat .messages {
    min-height: 100%;
    max-height: 300px;
}

.profileChat .customAlert {
    display: none;
}

.profileSection_draft_btn {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    text-align: left;
    background-color: var(--main-color-dark);
    border-radius: var(--border-radius);
}

@media (max-width: 992px) {
    .profileUpload_box-coverImage {
        display: none;
    }

    /* .profileHeader__overlay {
        left: 0;
    } */
}

@media (max-width: 768px) {
    .profile__main {
        padding: 0;
    }

    .profileHeader {
        height: 220px;
    }

    .profileHeader__rightCol {
        margin-left: 140px;
    }

    .profileHeader__overlay {
        left: 0;
        top: -65px;
        height: 100%;
    }

    .coverImage {
        height: 150px;
    }

    .btn-coverImage, .profileHeader__buttons {
        top: 80px;
    }

    .profileImage {
        width: 130px;
        height: 130px;
    }

    .profileHeader__title {
        font-size: 1.3rem;
    }
}

@media (max-width: 576px) {
    .profile-rightComlun {
        padding: 1rem 0;
    }

    .profile-rightComlun .boxWrapper {
        min-height: 200px;
    }
}
