.itemForm-modal__wrapper .itemToggle {
    padding: var(--padding-elem);
}

.itemForm-modal__wrapper .itemToggle__btn {
    text-transform: capitalize;
}

.item-preview__wrapper button {
    float: right;
}

.item-preview__wrapper button a {
    color: var(--accent-green);
}

.item .rank {
    background: rgb(40 30 58 / 82%);
    clip-path: polygon(100% 0, 100% 100%, 57% 87%, 0% 100%, 0 0);
    padding: .3rem .5rem;
    position: absolute;
    top: 0;
    right: 1%;
}

.slides__controls i {
    color: var(--accent-color);
    font-size: 4rem;
    cursor: pointer;
}

.itemUpload__img {
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.itemForm {
    /* height: 600px; */
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    /* padding: var(--padding-box); */
}

.itemUpload__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.itemUpload__wrapper:focus {
    outline: none;
}

.itemUpload__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.itemUpload__img {
    width: 200px;
    height: 200px;
}

.itemUpload__box {
    background-color: var(--main-color-light);
    border-radius: 50%;
    padding: 3.5rem;
    width: 200px;
}

.itemForm .upload__icon {
    max-width: 100px;
    max-height: 100px;
}

.itemForm-hideButton .groupButton {
    display: none;
}

.hideButtons .customForm__groupButton {
    display: none;
}

.itemForm__controllers .fa-long-arrow-right {
    float: right;
}

.itemForm__controllers .fa-long-arrow-left {
    float: left;
}

/* .itemUpload__prev {
    position: absolute;
    z-index: 5200;
} */

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}
