.itemForm-modal__wrapper .itemToggle {
    padding: var(--padding-elem);
}

.itemForm-modal__wrapper .itemToggle__btn {
    text-transform: capitalize;
}

.itemUpload__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--padding-box);
}

.itemForm-modal .slide-buttons > * {
    letter-spacing: .03em;
}

.itemForm-modal .groupButton.slide-buttons {
    width: 100%;
    justify-content: space-between;
}

.itemForm {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.itemForm .customForm__groupButton {
    display: none;
}

.itemForm .itemUpload ~ .customForm__groupButton {
    display: flex;
}

.itemUpload__img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.item-upload-wrapper {
    position: relative;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .3rem;
}

.itemUpdate__overlay-btn {
    position: absolute;
    top: 30px;
    visibility: hidden;
    width: 80px;
}

.item-upload-wrapper:hover .itemUpdate__overlay-btn {
    visibility: visible;
    display: block;
}

.itemUpdate-cover__footer {
    display: flex;
    flex-direction: row-reverse;
    color: var(--light-green-color);
}

.itemUpdate-cover__footer::before {
    margin-left: .3rem;
}

.itemUpload-footer {
    padding: var(--padding-elem);
}

.itemUpload-footer.fa-close {
    cursor: pointer;
    color: var(--red-color);
}

.itemUpdate-prevImg {
    opacity: .3;
}

.itemUpload__box {
    justify-content: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.itemUpload__box:focus {
    outline: none;
}

.itemForm .upload__icon {
    cursor: pointer;
    max-width: 50px;
    max-height: 50px;
}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}
