.itemForm-modal__wrapper .itemToggle {
    padding: var(--padding-elem);
}

.itemForm-modal__wrapper .itemToggle__btn {
    text-transform: capitalize;
}

/* .item-preview__wrapper button {
    float: right;
}

.item-preview__wrapper button a {
    color: var(--accent-green);
}

.item .rank {
    background: rgb(40 30 58 / 82%);
    clip-path: polygon(100% 0, 100% 100%, 57% 87%, 0% 100%, 0 0);
    padding: .3rem .5rem;
    position: absolute;
    top: 0;
    right: 1%;
}

.slides__controls i {
    color: var(--accent-color);
    font-size: 4rem;
    cursor: pointer;
} */

.itemUpload__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    /* align-items: center; */
    padding: var(--padding-box);
}

.item-upload-wrapper {
    position: relative;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .3rem;
}

.itemUpdate__overlay-btn {
    position: absolute;
    top: 30px;
    visibility: hidden;
    width: 80px;
}

.item-upload-wrapper:hover .itemUpdate__overlay-btn {
    visibility: visible;
    display: block;
}

.itemUpdate-cover__footer {
    display: flex;
    flex-direction: row-reverse;
    color: var(--light-green-color);
}

.itemUpdate-cover__footer::before {
    margin-left: .3rem;
}

.itemUpload-footer {
    padding: var(--padding-elem);
}

.itemUpload-footer.fa-close {
    cursor: pointer;
    color: var(--red-color);
}

.itemUpdate-prevImg {
    opacity: .3;
}

.itemUpload__img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.itemForm {
    /* height: 600px; */
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    /* padding: var(--padding-box); */
}

.itemUpload__box {
    justify-content: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.itemUpload__box:focus {
    outline: none;
}

.itemForm .upload__icon {
    cursor: pointer;
    max-width: 50px;
    max-height: 50px;
}

.itemForm-hideButton .groupButton {
    display: none;
}

/* .hideButtons .customForm__groupButton {
    display: none;
} */
/* 
.itemForm__controllers .fa-long-arrow-right {
    float: right;
}

.itemForm__controllers .fa-long-arrow-left {
    float: left;
} */

/* .itemUpload__prev {
    position: absolute;
    z-index: 5200;
} */

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}
