<a href={{link}} class="linkWrapper">
    <button class="clickButton"
        style="color: #00AF8D;background-color: transparent;border: 1px solid currentColor;border-radius: 10px;width: 100px;padding: .3rem .7rem;">
        {{btnTitle}}
    </button>
</a>