.item-summary {
    border-radius: 0 var(--border-radius);
    margin: 1rem;
    overflow: hidden;
}

.item__img-wrapper {
    overflow: hidden;
}

.item__img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
    filter: brightness(0.7);
    transition: transform 1s ease-in-out;
}

.item__img:hover {
    transform: scale(1.5);
}

.item__overlay {
    height: 100%;
}

.item__header {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}

.item__footer {
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 0;
}

.item__footer section:nth-child(2) {
    text-align: right;
}

.item__header i + i {
    margin-left: .5em;
}

.item__children {
    background-color: var(--light-gray-color);
}

/* .item-new {
    border: var(--border);
} */

.item-new .item__title {
    display: inline-flex;
    align-items: center;
}

.item__title {
    text-transform: capitalize;
    text-align: left;
    font-size: var(--md-fonts);
    font-weight: bolder;
    margin-bottom: 0;
    width: 100%;
}

.item__title::after {
    transform: scaleX(0.3);
    transform-origin: left;
}

/* .item__footer_highlights {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0;
} */

.item-preview__wrapper .modal-dialog {
    max-width: 800px;
}

.item-preview__wrapper button {
    float: right;
}

.item-preview__wrapper button a {
    color: var(--accent-green);
}

.item .rank {
    background: rgb(40 30 58 / 82%);
    clip-path: polygon(100% 0, 100% 100%, 57% 87%, 0% 100%, 0 0);
    padding: .3rem .5rem;
    position: absolute;
    top: 0;
    right: 1%;
}

.item-card .user-avatar, .item-card__highlights {
    align-self: flex-start;
}

.item-card .card-footer {
    display: flex;
    justify-content: flex-end;
}

.item-card .card-img-overlay {
    padding: 1rem .3rem;
}

.deleteItemModal .modal-dialog {
    max-width: 400px;
}

.deleteItemModal__title {
    font-size: var(--md-fonts);
    color: var(--light-gray-color);
}

.deleteItemModal__header {
    font-size: var(--md-fonts);
}

.deleteItemModal__groupButtons {
    align-self: flex-end;
}
