.itemForm-modal__wrapper .itemToggle {
    padding: var(--padding-elem);
}

.itemForm-modal__wrapper .itemToggle__btn {
    text-transform: capitalize;
}

.itemUpload__list {
    min-height: 50vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--padding-box);
}

/* .itemAlert {
    pointer-events: none;
    font-size: 5em;
    color: var(--light-gray-color);
}

.itemAlert i {
    opacity: .5;
} */

.itemForm-modal .slide-buttons > * {
    letter-spacing: .03em;
}

.itemForm-modal .groupButton.slide-buttons {
    width: 100%;
    justify-content: space-between;
}

.itemForm {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.itemForm .customForm__groupButton {
    display: none;
}

.itemForm .itemUpload ~ .customForm__groupButton {
    display: flex;
}

.item-upload-wrapper {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;
}

.itemUpload__img, .itemUpload__img__wrapper, .itemUpload__icon {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.itemUpload__icon {
    padding: 2em;
}

.item-cover {
    order: -1;
    visibility: visible;
}

.itemUpdate__overlay-btn {
    position: absolute;
    visibility: hidden;
    top: 40px;
    width: 80px;
}

.itemUpdate__overlay-btn:disabled {
    visibility: visible;
}

.itemUpdate__overlay-btn:disabled::after {
    content: "\f3ed";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: .2em;
}

.item-upload-wrapper:hover .itemUpdate__overlay-btn {
    visibility: visible;
    display: block;
    text-decoration: underline;
}

.itemUpdate-prevImg {
    opacity: .3;
}

.itemUpload__box:focus {
    outline: none;
}

.itemGallery__activeImg {
    height: 100%;
    max-height: 700px;
    width: 100%;
    object-fit: cover;
}

.itemList {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 450px;
    place-items: center;
}

.itemSum {
    background-color: var(--main-color);
    filter: brightness(0.9);
    margin: 1rem;
    width: 300px;
}

.itemSum__title .customButton {
    text-transform: capitalize;
}

.itemSum__img {
    height: 250px;
    object-fit: cover;
    filter: brightness(0.7);
}

.itemSum__body {
    position: relative;
    padding: 0;
}

.itemSum__overlay {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.itemSum__menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.itemSum__menu .customButton {
    margin: .5em 0;
}

.itemSum__footer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.itemSum__footer .groupButton {
    justify-content: flex-start;
}

.itemToggle {
    color: var(--accent-color);
}

.itemToggle__btn {
    cursor: pointer;
}

.itemDetails .listItem {
    padding-left: 0;
    padding-right: 0;
    line-height: 2em;
}

.itemDetails-gallery .itemImg {
    height: 500px;
    max-width: 100%;
}

.itemDetails-gallery .itemImg-thumb {
    height: 200px;
    width: 200px;
}

.itemFormWrapper-col {
    width: 100%;
    min-height: 80vh;
    height: 100%;
}

.itemFormWrapper__nav .customButton {
    letter-spacing: .15ch;
    word-spacing: .5ch;
    margin: .5em 0;
}

/* .itemFormWrapper .customAlert:not(.alert-danger) {
    background-color: transparent;
    color: var(--light-green-color);
    border: none;
} */

.itemForm-section a[value="delete"] {
    color: var(--red-color);
}

.itemForm-box {
    min-height: 700px;
    width: 100%;
}

.itemForm-overview .field-wrapper:not(.group-title, .group-description, .group-keywords) {
    display: inline-block;
    width: 50%;
}

.itemForm-delete .btn-form {
    background-color: var(--red-color);
    box-shadow: var(--box-shadow-red);
    margin: auto;
}

.itemPublish__buttons {
    justify-content: flex-end;
}

.itemPublish__buttons button + button {
    margin-left: 2em;
}

@media (max-width: 1679px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}
