.itemList {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 400px;
}

.itemSum .card-img {
    height: 400px;
}

.itemSum .card-footer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.itemSum .user-avatar, .item-card__highlights {
    align-self: flex-start;
}

.item-preview__wrapper .modal-dialog {
    max-width: 800px;
}

.item-preview__wrapper button {
    float: right;
}

.item-preview__wrapper button a {
    color: var(--accent-green);
}

.item .rank {
    background: rgb(40 30 58 / 82%);
    clip-path: polygon(100% 0, 100% 100%, 57% 87%, 0% 100%, 0 0);
    padding: .3rem .5rem;
    position: absolute;
    top: 0;
    right: 1%;
}

.deleteItemModal .modal-dialog {
    max-width: 400px;
}

.deleteItemModal__title {
    font-size: var(--md-fonts);
    color: var(--light-gray-color);
}

.deleteItemModal__header {
    font-size: var(--md-fonts);
}

.deleteItemModal__groupButtons {
    align-self: flex-end;
}
