:root {
    --main-color-light: #240046;
    --main-color-dark:#1A0039;
    --main-color: #1f0040;
    --main-color-opacity: #17053591;
    --outline-color: #3C096C;
    --main-font: 'Quicksand';
    --secondary-font: 'Candara', Sans-Serif;
    --secondary-color: #C1B1D0;
    --light-gray-color:#D1C4DC;
    --white-color: #dee2e6;
    --yellow-color: #F9F871;
    --red-color: #e76f51;
    --green-color: #00AF8D;
    --accent-color: #13e2ba;
    --light-green-color: #C0D4D0;
    --lg-fonts: 1.5em;
    --md-fonts: 1.25em;
    --sm-fonts: 1em;
    --font-heading: 'Rubik', sans-serif;
    --font-body: 'Karla', sans-serif;
    --letter-spacing: .4px;
    --word-spacing: .2px;
    --gradient-text: linear-gradient(300deg, var(--green-color), var(--light-green-color));
    --border: 1.5px dashed var(--light-gray-color);
    --border-radius: 10px;
    --padding-elem: .5em;
    --padding-box: 1.5rem;
    --padding-section: 1rem 3rem;
    --box-shadow: 0 0 0 4px var(--green-color), 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    --box-shadow-red: 0 0 0 4px var(--red-color), 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    --text-shadow: -.5px -.5px var(--green-color);
    --text-shadow-red: -.5px -.5px var(--red-color);
}
