<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link type="text/css" href="/styles.css" rel="stylesheet">
    <style>
        .mainContainer {
            display: grid;
            place-items: center;
            padding: 2rem;
            background-color: #170535;
            width: 100%;
            height: 100%;
        }

        .header {
            font-size: 25px;
            margin-bottom: 2rem;
        }

        .header__title {
            color: #13e2ba;
            font-size: 100%;
        }

        .header__subtitle {
            color: #C0D4D0;
            font-size: 75%;
        }


        .linkWrapper {
            width: 100%;
            text-align: center;
            margin: 1.5rem auto;
        }

        .linkWrapper__btn {
            color: #0c2f28;
            font-size: 14px;
            font-weight: bold;
            text-transform: capitalize;
            background-color: #13e2ba;
            width: 100px;
            padding: .4rem;
            border-radius: 10px;
            border: none;
            transition: 2s;
        }

        .linkWrapper__btn:hover {
            background-color: #0c2f28;
            color: #13e2ba;
        }

        .muteText {
            color: #a7a5a5;
            font-size: 14px;
        }

        .signature {
            font-size: 16px;
            font-style: italic;
            margin-top: 1.5rem;
        }

        .signature__thanks {
            color: #C0D4D0;
            font-size: 85%;
        }

        .signature__team {
            color: #00AF8D;
            letter-spacing: 1.5px;
            line-height: 1rem;
        }
    </style>
</head>

<body>
    <div class="mainContainer">
        {{{body}}}
        {{> signature}}
    </div>

</body>

</html>