<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link type="text/css" href="/styles.css" rel="stylesheet">
    <style>
        .mainContainer {
            display: grid;
            place-items: center;
            padding: 2rem;
            background-color: #170535;
            width: 100%;
            height: 100%;
        }

        .header {
            font-size: 25px;
            margin-bottom: 2rem;
        }

        .header__title {
            color: #13e2ba;
            font-size: 100%;
        }

        .header__subtitle {
            color: #C0D4D0;
            font-size: 75%;
        }

        .content {
            font-size: 18px;
            color: #C0D4D0;
        }

        .btn-link {
            color: #13e2ba;
            font-size: inherit;
            font-weight: bold;
            text-decoration: none;
            transition: 2s;
        }

        .btn-link:hover {
            color: white;
        }

        .muteText {
            color: #a7a5a5;
            font-size: 14px;
        }

        .signature {
            font-size: 16px;
            font-style: italic;
            margin-top: 1.5rem;
        }

        .signature__thanks {
            color: #C0D4D0;
            font-size: 85%;
        }

        .signature__team {
            color: #00AF8D;
            letter-spacing: 1.5px;
            line-height: 1rem;
        }
    </style>
</head>

<body>
    <div class="mainContainer">
        {{{body}}}
        {{> signature}}
    </div>

</body>

</html>