<div class="container">
    {{> header title="You received a new request" name=name}}
    <span class="content">Please click{{> buttonLink link=link btnTitle="here"}}to see more details.</span>
</div>