<div class="container">
    {{> header title="Welcome to Stitchil!" subTitle="Please click the button below to confirm your email address and activate your account."}}
    <p class="muteText">
        Thanks for choosing Stitchil.com, we’re thrilled to count you as the newest member of our global community!
    </p>
    {{> clickButton link=link btnTitle="confirm"}}
</div>