<div class="container">
    {{> header title="Welcome to Stitchil" name=name}}
    <span class="content">Please click{{> buttonLink link=link btnTitle="here"}}to confirm your email
        address
        and
        activate your account.</span>
</div>