.sectionWrapper--gigPublish {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.sectionWrapper--gigPublish .boxWrapper {
    width: 100%;
    margin-left: .5rem;
}

.sectionWrapper--gigPublish .sectionHeader__title {
    color: var(--light-green-color);
    font-weight: lighter;
    font-size: 1em;
}

.sectionWrapper--gigPublish .listItem:not(:last-child)::after {
    content: ", ";
    color: var(--light-gray-color);
}

.sectionWrapper--gigPublish .gigVariant:not(:nth-child(1)) {
    border-top: 1px dashed rgba(255, 255, 255, 0.452);
    padding-top: .5em;
}

.gigPublish .thumb {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.gigPublish .images-box {
    display: flex;
}

.gigGrid__gallery .swiperSlide {
    width: 100%;
    height: 450px;
}

.gigGrid .group-package {
    display: flex;
    align-items: center;
}

.gigGrid .group-package label::after {
    content: ": ";
    margin-right: .4em;
}

.gigGrid .group-package select {
    width: 15ch;
}

.gigGrid .customForm__groupButton {
    justify-content: flex-start;
}

.gigGrid__fabrics {
    display: flex;
    flex-wrap: wrap;
    padding: .5em;
}

.gigForms__container {
    display: flex;
    align-items: center;
    padding: .5em;
}

.gigForms__container .groupButton {
    margin: 0;
}
