.main-nav {
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    z-index: 5;
    background-color: var(--main-color-opacity);
    margin: auto;
}

.main-nav__menu {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.main-nav__menu .main-menu__link, .dropdown__button {
    color: var(--accent-color) !important;
    text-transform: lowercase;
}

.dropdown__button {
    display: flex;
    flex-direction: row-reverse;
    letter-spacing: var(--letter-spacing);
}

.logo {
    width: 180px;
}

.dropdown-toggle::after {
    display: none;
}

.nav-icon-btn {
    padding: 1em !important;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: auto .6em;
    background-color: var(--green-color);
    box-shadow: 0 0 0 4px var(--green-color), 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    text-shadow: -1px -1px var(--green-color);
}

.main-nav .customDropdown__body {
    background-color: transparent;
}

.sectionNav {
    width: 100%;
    border-bottom: 1px solid var(--light-green-color);
    text-align: center;
    margin: auto;
    justify-content: space-evenly;
}

.sectionNav__item {
    padding: .75rem;
    position: relative;
    color: var(--accent-color) !important;
    margin: 0;
}

.sectionNav__item:hover {
    color: var(--light-green-color) !important;
}

.sectionNav .active, .sectionNav__item:hover {
    background-color: transparent !important;
}

.sectionNav .active {
    color: var(--light-green-color) !important;
    pointer-events: none;
}

.sectionNav .active:after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100px;
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom-width: 12px;
    border-bottom-style: solid;
    border-bottom-color: var(--light-green-color);
    bottom: 0;
}

.navUser__item {
    margin: 0 .5em;
}

.navUser__item-active {
    filter: grayscale(1);
}

.main-nav .searchForm {
    padding: 0 .5rem;
    width: 100%;
}

.main-nav .searchForm__input {
    border: 1px solid var(--light-gray-color);
    border-radius: var(--border-radius);
    transition: 4s;
}

.main-nav .searchForm__input:focus {
    width: 80%;
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .navUser {
        height: 70px;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        /* background-color: var(--main-color-dark);
        outline: 1px dashed var(--outline-color);
        outline-offset: 10px;
        position: fixed;
        bottom: 0;
        left: 0; */
    }

    .main-nav .main-menu__link {
        font-size: 0;
    }

    .link-home::after {
        font-size: 14px;
        content: "\f015";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }

    .link-explore::after {
        font-size: 14px;
        content: "\f002";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }
}

@media (max-width: 576px) {
    .main-nav .main-menu__link + .main-menu__link {
        margin-left: .5rem;
    }

    .main-nav .logo {
        width: 100px;
    }
}
