.main-nav {
    width: 100%;
    justify-content: space-between;
    z-index: 5;
    background-color: var(--main-color-opacity);
    margin: auto;
}

/* .main-nav-dark {
    background-color: var(--main-color-dark);
} */

.main-nav__menu {
    justify-content: space-around;
    flex-direction: row;
}

.main-nav__menu .main-menu__link, .dropdown__button {
    color: var(--accent-color) !important;
    text-transform: lowercase;
}

.dropdown__button {
    display: flex;
    flex-direction: row-reverse;
    letter-spacing: var(--letter-spacing);
}

.logo {
    width: 180px;
}

.dropdown-toggle::after {
    display: none;
}

.nav-icon-btn {
    padding: 1em !important;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: auto .6em;
    background-color: var(--green-color);
    box-shadow: 0 0 0 4px var(--green-color), 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    text-shadow: -1px -1px var(--green-color);
}

.user-icon {
    height: 50px;
    width: 50px;
    font-size: x-large;
    background: var(--main-color);
    color: var(--green-color);
    border-radius: 50%;
}

.user-icon a, nav i {
    padding: 0;
    margin: 0;
    color: var(--white-color) !important;
}

.main-nav__icons .dropdown-toggle {
    width: 30px;
    height: 30px;
    color: var(--accent-color);
    background-color: transparent;
}

.main-nav .customDropdown__body {
    background-color: transparent;
}

.iconMenu .dropdown-item:hover {
    background-color: var(--green-color);
}

.sectionNav {
    width: 100%;
    border-bottom: 1px solid var(--green-color);
    border-top: 1px solid var(--green-color);
    text-align: center;
    margin: auto;
    justify-content: space-evenly;
}

.sectionNav__item {
    padding: .75rem;
    position: relative;
    color: var(--accent-color) !important;
    margin: 0;
}

.sectionNav__item:hover {
    color: var(--white-color) !important;
}

.sectionNav .active, .sectionNav__item:hover {
    background-color: transparent !important;
}

.sectionNav .active {
    pointer-events: none;
}

.sectionNav .active:after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100px;
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom-width: 12px;
    border-bottom-style: solid;
    border-bottom-color: var(--accent-color);
    bottom: 0;
}

@media (max-width: 992px) {}

@media (max-width: 586px) {
    .main-nav .main-menu__link + .main-menu__link {
        margin-left: .5rem;
    }

    .main-nav .logo {
        width: 100px;
    }
}
