.messages {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.messages__msg__wrapper {
    width: 100%;
    clear: both;
    padding: var(--padding-elem);
}

.messageItem {
    flex-direction: column;
    padding: var(--padding-elem);
    background-color: var(--outline-color);
    border-radius: var(--border-radius);
    margin: 1rem 0;
}

.messagesItem-user {
    float: right;
    background-color: var(--main-color-light);
}

.messageItem__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .5rem;
    color: var(--white-color);
}

.messageItem__msg {
    padding: .3em;
    line-break: auto;
}

.messageItem__date {
    align-self: flex-end;
}

.messageForm__wrapper {
    width: 100%;
    padding: var(--padding-elem);
    display: flex;
    flex-direction: column;
}

/* .messageForm {
    display: flex;
} */

.messageForm .form-label:first-child {
    display: none;
}

@media (max-width: 992px) {
    /* .messageForm {
        flex-direction: column;
    } */
}

@media (max-width: 768px) {}

@media (max-width: 576px) {}
