.landing {
    max-height: 100%;
    min-height: 100vh;
    background-color: var(--main-color-light);
    border: none !important;
}

.landing .backgroundImg {
    background-size: contain;
}

.landing__text {
    padding-bottom: 2rem;
}

.landing__title {
    font-size: 5rem;
    color: var(--light-green-color);
}

.landing__subtitle {
    font-size: 2.5rem;
}

.herobox__btn-group {
    display: flex;
    padding-top: 3rem;
}

.homepage {
    position: relative;
}

.homepage > *:nth-of-type(even) {
    background-color: var(--main-color-light);
}

.section-wrapper {
    margin: auto;
    padding: var(--padding-section);
}

.hpSlides__container {
    height: 550px;
    width: 300px;
    background-size: contain;
    overflow-x: hidden;
}

.hpSlides__wrapper {
    /* width: 80%; */
    max-height: 450px;
    max-width: 230px;
    overflow: hidden;
}

.hpSlides__item, .hpSlides .carousel-inner, .hpSlides {
    height: 100%;
    width: 100%;
}

.hpSlides__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 .5rem;
}

.hpSlides__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.hpSlides__username, .hpSlides__item .star-btn > * {
    font-size: var(--sm-fonts);
}

.hpSlides__item button a, .hpSlides__username {
    color: var(--accent-color);
}

.hpSlides__img {
    height: 220px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.hpSlides__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: .5em;
}

.hpSlides__btn {
    margin-top: .5em;
}

.hpSlides .carousel__item {
    height: 100%;
}

.carousel-indicators {
    display: none;
}

.herobox__wrapper {
    height: 100%;
}

.herobox {
    width: 100%;
    min-height: 80vh;
    max-height: 100%;
    margin: 0 auto;
}

.herobox__footer {
    position: absolute;
    bottom: 10%;
    left: 50%;
}

.herobox__footer-img {
    transform: rotateY(180deg);
    height: 300px;
    width: 100%;
    object-fit: contain;
}

.homepage .swiper-container {
    width: 100%;
    display: flex;
}

.homepage .explore__card {
    flex: 0 0 100%;
}

.guarantees__col {
    flex-direction: column;
}

.guarantees__col:nth-child(2) {
    justify-content: space-around;
}

.guarantees__img {
    transform: rotateY(-180deg) scale(0.9);
}

.guarantees__title {
    font-size: var(--md-fonts);
}

.qa {
    justify-content: space-around;
    align-items: center;
}

.qa__item-wrapper {
    background-color: var(--green-color);
    margin: 1rem;
    padding: var(--padding-box);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.qa__title {
    color: var(--light-green-color);
    text-align: center;
}

.qa__text {
    color: var(--main-color);
}

@media only screen and (max-width: 1600px) {
    .herobox__footer {
        top: 70%;
    }
}

@media only screen and (max-width: 1024px) {
    .landing__title {
        font-size: 4.5rem;
    }

    .section-wrapper {
        width: 100% !important;
    }

    .herobox__footer {
        top: 80%;
    }

    .section-wrapper {
        flex-direction: column;
        padding: 0;
    }

    .herobox {
        width: 100%;

        /* height: 100%;
        align-items: flex-start; */
    }

    .herobox__footer {
        display: none;
    }

    .heroImage__container {
        height: 400px;
        width: 200px;
    }

    .hpSlides__img {
        height: 170px;
    }

    /* .heroImage__wrapper {
        width: 60%;
    } */
    /* 
        h4 {
            padding: 0;
        } */

    .guarantees__col:nth-child(1) {
        flex-direction: column-reverse;
    }

    .qa {
        padding: 1rem;
    }

    .qa__item-wrapper {
        margin: 1rem 0;
    }
}

@media (max-width: 767px) {
    .herobox .btn-icon-text:not(.btn-star)::before {
        margin-left: .2em;
    }

    .herobox__btn-group {
        justify-content: center;
        padding-top: 0;
    }

    .landing__text {
        padding: 1.5rem 0;
        text-align: center;
    }

    .landing__title {
        font-size: 3.8rem;
    }

    .landing__subtitle {
        font-size: 1.2rem;
    }

    .hpSlides__container {
        height: 450px;
        width: 300px;
    }

    .hpSlides__wrapper {
        height: 350px;
        width: 200px;
    }

    .hpSlides .listItem span {
        font-size: 12px;
    }
}

@media (max-width: 479px) {
    .landing__title {
        font-size: 1.8rem;
    }

    .herobox__btn-group {
        justify-content: space-around;
    }
}
