.customButton {
    text-transform: lowercase;
}

/* .customButton + .customButton:not(.dropdown-item), i + i {
    margin-left: .8em;
} */

.customButton.btn-click {
    color: var(--accent-color);
    font-size: var(--sm-fonts);
    letter-spacing: .5x;
    background-color: transparent;
    border: 1px solid currentColor;
    border-radius: 10px;
    width: 100%;
    max-width: 100px;
    padding: var(--padding-elem);
    animation: none;
    text-shadow: var(--text-shadow);
}

.customButton.btn-click:hover {
    animation: clickButtonAnim 2s ease-in-out;
}

@keyframes clickButtonAnim {
    15% {
        border-top-color: transparent;
    }

    30% {
        border-right-color: transparent;
    }

    65% {
        border-bottom-color: transparent;
    }

    85% {
        border-left-color: transparent;
    }
}

.groupButton {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;
}

/* .groupButton .customButton + .customButton {
    margin-left: .8rem;
} */

.btn-icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--sm-fonts);
    color: var(--white-color);
    border: 1.85px dashed currentColor;
    border-radius: 50%;
    padding: .5em;
    background-color: var(--green-color);
    box-shadow: var(--box-shadow);
    text-shadow: var(--text-shadow);
}

.btn-icon:hover {
    animation: btn-icon-anim 1s infinite alternate ease-in-out;

    /* color: var(--white-color); */
}

@keyframes btn-icon-anim {
    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn-icon-red {
    background-color: var(--red-color);
    box-shadow: var(--box-shadow-red);
    text-shadow: var(--text-shadow-red);
}

.btn-icon-text {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: var(--accent-color);
}

.btn-icon-text:not(.btn-star) {
    flex-direction: row-reverse;
}

.btn-icon-text.btn-red {
    color: var(--red-color);
}

.btn-icon-text:not(.btn-star)::before {
    margin-left: 0.5em;
}

.btn-icon-text.btn-icon {
    background-color: var(--green-color);
    justify-content: flex-start;
}

.btn-icon-text.btn-icon::before {
    margin-left: 1.5rem;
}

.btn-text {
    color: var(--accent-color);
}

.btn-form {
    min-width: 80px;
    margin: .3em;
    padding: .2em .4em;
    background-color: var(--green-color);
    color: var(--white-color);
    font-size: var(--sm-fonts);
    line-height: 1.3em;
    border: 1px dashed currentColor;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-shadow: var(--text-shadow);
}

.btn-form::after {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: var(--sm-fonts);
    opacity: .5;
    color: currentColor;
    margin-left: .5em;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.btn-form:hover, .btn-form:focus, .btn-form:active {
    box-shadow: var(--box-shadow);
    text-shadow: var(--text-shadow);
    border: none;
    outline: none;
}

.btn-form:hover {
    color: var(--white-color);
    background-color: var(--green-color);
}

.btn-form-cancel {
    margin-right: .8rem;
    background-color: var(--red-color);
    box-shadow: var(--box-shadow-red);
    text-shadow: var(--text-shadow-red);
}

.btn-form-cancel::after {
    content: "\f00d";
    width: 100%;
    font-family: 'FontAwesome';
}

.btn-form-cancel:hover {
    background-color: var(--red-color);
}

.btn-form:hover::after {
    opacity: 1;
}

.btn-close {
    background-color: transparent;
    color: var(--accent-color);
}

.btn-close::after {
    content: "\f00d";
    font-family: 'FontAwesome';
}

.btn-star {
    color: var(--light-gray-color);
}

.btn-star::before {
    color: yellow;
    margin-right: .2em;
}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1024px) {}

@media (max-width: 768px) {
    /* .btn-icon {
        width: 25px;
        height: 25px;
        padding: .2em;
        font-size: 12px;
    } */

    .btn-close::after {
        font-size: 1.5em;
        font-weight: bold;
        content: "\f104";
    }
}

@media (max-width: 480px) {}
