@import "./styles/reset.css";
@import "./styles/fonts.css";
@import "./styles/variables.css";

body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-size: 1em;
    font-family: var(--font-body);
    background-color: var(--main-color);
    background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
}

.App {
    height: 100vh;
}

::-webkit-scrollbar {
    width: 1rem;
    background-color: var(--main-color-light);
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-gray-color);
    border-bottom-right-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

a {
    color: var(--accent-color);
}

a:active {
    color: var(--light-gray-color);
}

a:visited {
    color: var(--secondary-color);
}

textarea {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    height: 5em;
}

/* .box_shadow {
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.6);
} */

/* colors */

.text {
    color: var(--light-gray-color);
}

.subtitle {
    font-size: 50%;
    font-family: var(--font-body);
    color: var(--light-gray-color);
    letter-spacing: var(--letter-spacing);
    line-height: 1.8em;
}

/* icons*/
.fa-star-o {
    opacity: .5;
    font-size: var(--sm-fonts);
}

.fa-check, .fa-star {
    color: var(--yellow-color);
    font-size: var(--sm-fonts);
}

.text-mute {
    text-transform: lowercase;
    color: var(--secondary-color);
    opacity: .95;
    font-size: var(--sm-fonts);
}

.clickElem {
    background-color: transparent;
    color: var(--accent-color);
    cursor: pointer;
    transition: 2s;
}

.clickElem:hover {
    color: var(--light-green-color);
}

.clickElem:active {
    color: var(--red-color);
}

.clickElem-active {
    color: var(--light-gray-color);
}

.customLink {
    cursor: pointer;
    transition: 2s;
    position: relative;
    color: var(--accent-color);
    font-weight: lighter;
    font-size: var(--sm-fonts);

    /* font-size: calc(var(--sm-fonts) * 1.2); */
}

.customLink + .customLink, .clickElem + .clickElem {
    margin-left: 0.8em;
}

.customLink:hover {
    color: var(--light-gray-color);
}

.customLink::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid currentColor;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    transform: scaleX(0.8);
    transform-origin: left;
    transition: transform 300ms ease-in;
}

.customLink:hover::after {
    transform: scaleX(1);
}

p {
    color: var(--light-gray-color);
    opacity: 0.9;
}

ul {
    list-style: square;
    text-align: left;
}

.tagline {
    position: relative;
    height: 350px;
    width: 100%;
    margin: auto;
    padding: 1em;
    background-color: var(--main-color);
}

.tagline__title {
    text-align: center;
}

.gradient-text {
    background: linear-gradient(300deg, var(--green-color), var(--light-green-color));
    background-clip: text;
    color: transparent;
    width: 100%;
}

.position-center {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.time_date {
    color: var(--secondary-font);
    font-size: calc(var(--sm-fonts) - 20%);
    margin-left: .3em;
    opacity: 0.6;
}

/* layout */

.header {
    position: relative;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.header .backgroundImg {
    opacity: .1;
    height: 250px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .header h1 {
    width: 80%;
    margin: auto;
    font-size: 5rem;
    text-align: center;
    color: var(--white-color);
} */

.vl-wrapper {
    width: 100%;
}

.vl-wrapper span {
    padding: var(--padding-elem);
    color: var(--light-gray-color);
    font-size: var(--md-fonts);
}

.vl {
    width: 50%;
    margin: auto;
    border-top: var(--border);
}

/* .col-md-6, .col-lg-6 {
    padding: 3rem;
} */

hr {
    border: 0;
    border-top: var(--border);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* containers */

/* images */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.slide-img {
    height: 500px;
    width: 300px;
}

.slide-thumb {
    height: 100px;
    width: 100px;
}

/* uploads */

/* .upload__wrapper {
    height: 100%;
    transition: 1.5s ease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload__wrapper > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.upload__wrapper:hover > img {
    opacity: .2;
}

.upload__wrapper:focus {
    outline: none;
}

.upload_file_wrapper::after {
    content: "";
    display: block;
    clear: both;
}

.upload__new-wrapper .upload__icon, .upload:hover .upload__icon, .upload__file-wrapper:hover .upload__icon {
    visibility: visible !important;
} */

@media (max-width: 992px) {
    /* .container, .container-fluid {
        max-width: 100%;
        width: 100%;
        margin: 0;
    }

    .carousel-item {
        height: 100vw;
    } */

    .tag-lines {
        width: 100%;
        height: 250px;
    }

    /* h1 {
        font-size: calc(var(--h1-fonts) - 20%);
        padding: .1em;
    } */

    .fa-bars {
        font-size: 2em;
    }
}

@media (max-width: 768px) {
    .backgroundImg {
        height: 500px;
    }

    .row {
        margin: 0 !important;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .portfolio-img {
        max-width: 100%;
        max-height: 100%;
    }

    .column {
        flex-direction: column;
    }

    .zoomImage {
        padding: .5rem;
    }

    h5 {
        text-align: center;
    }

    p, span {
        /* text-align: left !important; */
        padding: 0.1em;
    }

    .modal {
        overflow-x: hidden;
    }

    .modal-content {
        min-height: 100vh;
        max-height: 100%;
    }

    /* .modal-dialog-centered {
        align-items: flex-start !important;
    } */
}

@media (max-width: 576px) {
    /* .navbar {
        padding: 0;
    } */

    /* .fa-bars {
        font-size: var(--md-fonts);
    } */
}
