.reviewItem__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.reviewItem .messageItem__body {
    padding: .2rem 1rem;
}

.reviewCreate {
    margin-top: 2rem;
    background-color: var(--main-color);
    padding: 2rem .2rem;
    border-radius: 10px;
}

.reviewCreate .label {
    display: none;
}

.reviewRating > * {
    color: yellow;
    font-size: var(--md-fonts);
}
