.boxWrapper--packageForm {
    width: 100%;
}

.packageForm__grid {
    display: inline-grid;
    grid-column-gap: 0;
}

.packageForm__grid .group-price, .packageForm__grid .group-delivery {
    grid-row-start: 1;
}

.packageForm__grid .group-price {
    grid-column-start: 1;
    grid-column-end: 2;
}

.packageForm__grid .group-delivery {
    grid-column-start: 2;
    grid-column-end: 3;
}

.packageForm__grid .group-description {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.packageForm .customAlert {
    order: 1;
}

.packageForm .groupButton {
    order: 2;
}

.packageFormFabric .form-group {
    display: flex;
    align-items: center;
}

/* .fabricItem--packageForm .fabricItem__img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 0 .2em;
} */

.packageFormFabric__btn {
    width: 100px;
    height: 100px;
}

.packageFormFabric__btn.selected + .fabricItem__img {
    opacity: .5;
}

.packageFormFabric__btn:not(.selected) {
    border-color: transparent;
}

.packageFormFabric__btn:not(.selected):hover + .fabricItem__img {
    opacity: .5;
}

.packageItem {
    width: 100%;
}

/* .packageFormFabric__btn.selected {
    border-color: var(--outline-color);
} */

/* .packageFormFabric .form-group .formLabel:first-child {
    margin-right: .2em;
} */
