.pageWrapper {
    width: 70%;
    height: auto;
    min-height: 100%;
    background-color: var(--main-color);
    overflow: hidden;
    margin: auto;
    position: relative;
}

.sectionWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: var(--padding-section);
}

.sectionHeader {
    width: 100%;
    display: flex;
    align-items: center;
    padding: var(--padding-box);
}

.sectionHeader__title {
    width: auto;
}

.boxWrapper {
    padding: var(--padding-box);
}

.listItem {
    margin: .4rem auto;
}

.listItem__field, .listItem__icon {
    color: var(--green-color);
    margin-right: .4em;
    opacity: .8;
}

.listItem__content {
    color: rgb(253 242 242 / 56%);
}

.menuButton {
    text-transform: lowercase;
    font-size: var(--md-fonts);
    color: var(--accent-color);
    line-height: 1.3em;
}

.fa-ellipsis-v {
    color: var(--accent-color);
}

/* .fa-caret-down {
    color: var(--light-green-color) !important;
} */

.fa-caret-down:before {
    margin: auto .5rem;
    color: var(--accent-color);
    font-size: var(--md-fonts);
}

.imageButton__img {
    width: 100px;
    height: 100px;
    margin: 1rem 0;
    padding: 1rem;
}

.iconTextButton {
    color: var(--accent-color);
    text-transform: lowercase;
    font-size: var(--sm-fonts);
    padding: var(--padding-elem);
}

.iconTextButton__title, .iconTextButton__icon {
    color: inherit;
    font-size: inherit;
}

.iconTextButton:hover {
    color: var(--white-color);
}

/* alerts */

.inlineAlert {
    /* display: block;
    width: 100%;
    text-align: center;
    background-color: transparent;
    font-size: var(--sm-fonts);
    border: none;
    margin: .2em auto; */
}

.alertDemo__box {
    background-color: var(--red-color);
    box-shadow: var(--box-shadow-red);
    border: 1.5px dashed var(--light-gray-color);
    margin-bottom: 0;
}

.alert-danger {
    color: var(--red-color);
}

.inlineAlert::before {
    font-family: FontAwesome;
    font-size: var(--md-fonts);
    margin-right: .3rem;
}

.alert-danger::before {
    content: "\f06a";
}

.alert-success {
    color: var(--green-color);
}

.alert-success::before {
    content: "\f058";
}

.emptyAlert__icon {
    color: var(--green-color);
    font-size: 80px;
}

.error {
    color: var(--red-color);
    font-size: var(--sm-fonts);
}

/* modal */

.customModal {
    border: none !important;
}

/* .customModal__close {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--lg-fonts);
    color: var(--white-color);
    border: 1.85px dashed currentColor;
    border-radius: 50%;
    padding: .5em;
    background-color: var(--outline-color);
    box-shadow: 0 0 0 4px var(--outline-color), 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    text-shadow: -1px -1px var(--outline-color);
} */

.customModal__header {
    height: 60px;
}

.customModal__header .modal-title {
    color: var(--white-color);
    opacity: .8;
    text-transform: capitalize;
    font-size: var(--md-fonts);
    letter-spacing: 1.5px;
}

.customModal .modal__form {
    padding: var(--padding-box);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.customModal .modal-footer, .customModal .modal-header {
    background-color: var(--main-color-light);
    justify-content: space-between;
    border: none;
}

.customModal .modal-footer a {
    font-size: calc( var(--md-fonts) / 1.2);
}

/* .customDropdown .dropdown-menu, .iconMenu .dropdown-menu {
    border: none;
} */

.customDropdown, .iconMenu {
    position: relative;
    width: auto;
    background-color: transparent;
    border: none;
}

.iconMenu .dropdown-item {
    margin-top: 1rem;
}

.iconMenu .dropdown-menu {
    position: absolute !important;
    z-index: 5000;
}

.pageMenu {
    width: 100%;
    background-color: var(--green-color);
    text-align: center;
    margin: auto;
    justify-content: space-evenly;
}

.pageMenu__item {
    padding: .75rem;
    position: relative;
    color: var(--light-gray-color) !important;
    margin: 0;
}

.pageMenu .active {
    background-color: var(--green-color) !important;

    /* order: -1; */
}

.pageMenu .active:after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100px;
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom-width: 12px;
    border-bottom-style: solid;
    border-bottom-color: var(--main-color-light);
    bottom: 0;
}

.plainIcon {
    margin: 0;
    box-shadow: none;
    text-shadow: none;
    border: none;
    background-color: transparent;
}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1024px) {
    .roundCard {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .pageWrapper {
        width: 100%;
    }

    .sectionWrapper {
        padding: 0;
    }

    .roundCard:hover {
        transform: scale(1.2);
    }

    .customModal .modal__form {
        padding: 0;
    }

    .customModal__header {
        flex-direction: row-reverse;
    }

    .customModal__close::after {
        content: "\f100";
    }
}

@media (max-width: 480px) {}
