



/* .settings__title {
    font-size: 3rem;
    padding: var(--padding-elem);
} */

.settings__password {
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    padding: 1.5rem;
}
