.flag-img {
    width: 2em;
    height: 2em;
}

.backgroundImg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.thumb {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.zoom-img__wrapper {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgba(27, 27, 51, 0.734);
}

.zoom-img {
    height: 100%;
    width: 100%;
    padding: 5rem;
    object-fit: contain;
}
