.filterByOptions-box, .filterParams-box, .filterByOptions__price {
    display: flex;
}

.filterByOptions-box {
    height: 100%;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    z-index: 2000;
    justify-content: space-between;
}

.filterByOptions-box .customDropdown__body {
    padding: var(--padding-elem);
}

.filterByOptions-box .customDropdown__item label {
    color: inherit;
}

.filterByOptions-box .customDropdown__item input {
    width: auto;
}

.filterByOptions__options-box .customDropdown + .customDropdown {
    margin-left: .5em;
}

.filterByOptions-box .customDropdown__btn {
    background-color: transparent;
}

.filterByOptions__price-min::before {
    content: "\f062";
}

.filterByOptions__price-max::before {
    content: "\f063";
}

.filterParams-box {
    justify-content: center;
    width: 100%;
}

.filterParams__item {
    color: var(--light-gray-color) !important;
    border: 1px solid currentColor;
    border-radius: var(--border-radius);
    padding: var(--padding-elem);
}

.filterParams__item + .filterParams__item {
    margin-left: .3em;
}

.filterByKeywords {
    width: 300px;
    padding: 0 2rem;
    transition: 2s;
}

.filterByKeywords input {
    flex-grow: 1;
    border: 1px solid var(--light-gray-color);
    border-radius: 10px;
}

.filterByKeywords:focus-within {
    width: calc(100% - 35px );
}

.filterGrid__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
