.filterByOptions, .filterParams, .filterByOptions__price {
    display: flex;

    /* width: 100%; */
}

.filterByOptions, .filterParams {
    width: 100%;
}

.filterByOptions {
    justify-content: space-between;
}

.filterParams {
    justify-content: flex-start;
}

.filterByOptions__options .customDropdown + .customDropdown {
    margin-left: .5em;
}

.filterByOptions .customDropdown__btn {
    background-color: transparent;
}

.filterByOptions .customDropdown__body {
    background-color: var(--light-gray-color);
}

.filterParams__item {
    color: var(--light-gray-color) !important;
    border: 1px solid currentColor;
    border-radius: var(--border-radius);
    padding: var(--padding-elem);
}

.filterParams__item + .filterParams__item {
    margin-left: .3em;
}

.filterByKeywords {
    width: 300px;
    padding: 0 2rem;
    transition: 2s;
}

.filterByKeywords input {
    flex-grow: 1;
    border: 1px solid var(--light-gray-color);
    border-radius: 10px;
}

.filterByKeywords:focus-within {
    width: calc(100% - 35px );

    /* border-color: var(--accent-color); */
}
